/* GENERAL incl Navbar */
.navbar {
    padding: 0;
}

.navbar-brand {
    background: #4aaaa5 !important;
    color: #ffffff !important;
    padding: 20px 34px 20px 34px;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 0 0 0;
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-nav {
    margin: 0 0 0 0;
    font-size: 19px;
}

.nav-item {
    margin-left: 3px;   
}

body {
    background:rgb(211, 214, 213);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

footer {
    background: #666666 !important;
    color: #ffffff;
    font-size: 10px;
    margin-top: 20px;
    padding-bottom: -2px !important;
    font-size: 10px;
    border-top: 5px solid #4aaaa5;
    max-width:100% !important;
}   

/* ABOUT page */
.card {
    margin: 0 auto;
    background:#ffffff;
    color: #777777;
} 

.card-body {
    flex: inherit;
    padding: 0 !important;
    margin: 2% 4% 0 2.5% !important;
    line-height: 30px;
}

.container {
    margin: 0 auto;
    width: 100% !important;
    max-width: 960px !important;
    clear: both;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6em;
    font-weight: bold;
    margin: 3% 0 0 2.5%;
    padding: 0 0 2% 0;
    border-bottom: 1px solid rgb(211, 214, 213);
    width: 95%;
}

hr {
    background: rgb(211, 214, 213);
    width: 96%;
}

.image-wrapper {
    margin: 2.8% 2% 5px 2.5%;
}

/* CONTACT page */

form {
    width: 96% !important;
    margin: 2% 5% 2% 2.4% !important;
    height: 30%;
    border-radius: 0;
}

.btn {
    background: #4aaaa5 !important;
    border: none;
    padding: 5px 23px 5px 23px;
    border-radius: 0;
}

/* PORTFOLIO page */
img {
    float: left;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px; 
    background: #4aaaa5;
    color: #ffffff; 
    position: absolute;
    top: 67%;
    width: 100%; 
    padding: 12px 0 12px 0;
}

.card {
    border: none !important;
}

.form-control {
    border-radius: 0;
}



